<h1>Welcome to Mappsterpiece!</h1>
<p>Whether this is the first time you're visiting the Met, you're an art history nerd, or you're a local being a tourist in your own city, we can help you navigate the over 400,000 objects in the Metropolitan Museum of Art.</p>
<p>We're Mappsterpiece. We'll show you artworks and help you decide what you're in the mood to visit.</p>

<p>To get started, please select which type of art you are most interested in seeing today:</p>


<br />
<br />

<!-- dropdown for search term - sends the value to submitSearchTerm method
<select (change)="submitSearchTerm($event)">
  <option value="default">select</option>
  <option *ngFor="let item of searchTermArray" [value]="item">{{ item }}</option>

</select>
<br />
<br />

<div *ngIf="display">
  <app-met-app [listBySearchTerm]="listBySearchTerm" ></app-met-app>
</div> -->

<app-met-app></app-met-app>

