<h1>Welcome to Mappsterpiece!</h1>
<p>Whether this is the first time you're visiting the Met, you're an art history nerd, or you're a local being a tourist in your own city, we can help you navigate the over 400,000 objects in the Metropolitan Museum of Art.</p>
<p>We're Mappsterpiece. We'll show you artworks and help you decide what you're in the mood to visit.</p>

<p>To get started, please select which type of art you are most interested in seeing today:</p>

<label for="cars">Choose a medium: </label>

<select>
  <option value="painting">Painting</option>
  <option value="ceramic">Ceramics</option>
  <option value="sculpture">Sculpture</option>
  <option value="printing">Printmaking</option>
  <option value="costumes">Costumes</option>
  <option value="drawings">Drawings</option>
  <option value="photographs">Photographs</option>
  <option value="textiles">Textiles</option>
  <option value="furniture">Furniture</option>
  <option value="jewelery">Jewelery</option>
</select>
<button>Select</button>

<app-met-app></app-met-app>
